.main {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 140px 1fr;
    grid-column: full;
    padding-inline: clamp(1rem, 5vw, 4rem);

    &.main--body {
        grid-column: body;
    }
}